.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.container div:not(.subtotal){
  height: auto;
}
.container img{
  width: 100px;

}

.cart_container {
  padding: 20px;
}


.cart_container h2,
.cart_container h3 {
  padding: 10px;
  
}

.cart_container hr {
  margin: 10px;
}
.cartContainer{
 display: flex;
 flex-direction: column;
  gap: 20px;
 
  
}



.subtotal {
  padding: 20px;
  width: 160px;
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: 1px solid rgb(193, 193, 193);
  background-color: rgb(242, 241, 241);
  border-radius: 5px;
}
.subtotal a{
  text-align: center;
  width: 100%;
  border: none;
  background-color: var(--primary-color);
  border-radius: 5px;
  padding: 5px 10px;
  color: black;
  text-decoration: none;
}


.subtotal a:hover{
  background: var(--primary-shade);
}
.subtotal span{
  display: flex;
  gap: 20px;
}
@media screen and (max-width:968px){
  .container{
    flex-direction: column;
    order: 1;
  }
}



